<center>
  <h1>Classroom Name: <br><u><%= @classroom.name %></h1>
  <% @teachers.each do |class_teacher| %>
    <%= class_teacher.teacher.name %>-<%= class_teacher.lecture_number %><br>  
    
  <% end %>
 
</center>