<center>     
<h1>Teachers</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Classroom Name</th>
      <th scope="col"Lecture Number</th>
    </tr>
  </thead>

  <% @classrooms.each do |class_teacher|%>
    <tbody>
        <tr>
          <td><%= class_teacher.classroom.name %></td>
          <td><%= class_teacher.lecture_number %></td>
        </tr>  
    </tbody>
  <% end %>  
</table>


